:root {
  --background-color-home: #fad3c4;
  --background-color-tech: #fab652;
  --background-color-values: #d6d2fb;
  --background-color-learning: #eee8b2;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2vmin;
  /* border: 1px solid red; */
}

/* For index.html hompage */

#title {
  font-size: 5rem;
}

.home-header {
  height: 30vh;
  display: flex;
  align-items: center;
  opacity: 0.9;;
  background-color: var(--background-color-home);
}

.title {
  margin-left: 5%;
}

.about-me {
   margin: 2.5% 5%;
}

#about-me-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.blog-links {
  background-image: url(./Images/cookie-the-pom-siNDDi9RpVY-unsplash.jpg);
  background-size: 50% 100%;
  padding: 0%;
  list-style: none;
  height: 70vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.link {
  text-align: center;
}

.link:link, .link:visited {
  padding: 10px;
  text-decoration: none;
  border: 2px solid ;
  border-radius: 10%;
  color: #000;
  background-color: #afe2e6 ;
}

.link:hover {
  background-color: var(--background-color-home);
  opacity: 0.8;
  border: 5px solid #e9cdcd;
  transition: border 0.8s;
}

.other-links {
  text-align: center;
  padding: 20px;
  background-color: #bab4b4;
  color: white;
}

.tech:hover {
  background-color: var(--background-color-tech);
}

.values:hover {
  background-color: var(--background-color-values);
}

.learning:hover {
  background-color: var(--background-color-learning);
}

strong {
  font-size: 1.5rem;
}

em {
  font-size: 0.9rem;
}


/* FOR BLOG POSTS */

.tech-header {
  background-color: var(--background-color-tech);
}

.values-header {
  background-color: var(--background-color-values);
}

.learning-header {
  background-color: var(--background-color-learning);
}

.blog-main {
  margin: 5% 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-main h2 {
  margin: 30px;
  font-size: 2.5rem;
  text-align: center;
  text-decoration: underline;
}

.blog-main h3 {
  margin: 15px;
  font-size: 1.1rem;
  text-align: center;
}

.blog-main p {
  text-align: justify;
  line-height: 1.5em;
  margin: 30px 0px;
}

.blog-image {
  display: block;
  margin: auto;
  width: 60%;
  height: 40vmax;
}

.block-image {
  height: 10vmax;
}

.inline-image {
  height: 20vmax;
}

.inline-block-image {
  height: 15vmax;
}

article {
  margin: 20px;
}